@import "./main.scss";
@import "./loader.scss";

h1 {
  font-size: rem(24);
  font-weight: 700;
  text-align: center;
  margin-left: rem(42);
  margin-right: rem(58);
}

h2 {
  font-size: rem(18);
  font-weight: 300;
}
p {
  font-size: rem(16);
  font-weight: 500;
}

.resto__sub {
  font-size: rem(17);
  font-weight: 300;
}
ul {
  list-style-type: none;
}
.fa-store {
  color: $primary;
}
.rond {
  background: $primary;
  border-radius: rem(100);
  color: white;
  padding: 5px 8px 5px 8px;
}
.nouveau__card {
  color: #008766;
  background-color: $tertiary;
  font-size: rem(14);
  font-weight: 500;
  padding: rem(7) rem(9) rem(6) rem(9);
  position: absolute;
  top: rem(13);
  right: rem(22);
}

// HEADER
.header{
    @include flexRowCenter;   
    background-color: white; 
    &__logo{
        width: rem(162);
        height:rem(44);
        margin:rem(14) rem(89) rem(13) rem(89);
    }
}
 
.location{
    @include flexRowCenter;
    height:rem(50);
    gap: rem(17);
    background:$background-location;
}

// INFORMATION
.info{
    width:100%;
    @include flexColumnCenter;
    background: $background;
    text-align: center;
    padding-top:rem(30);
    padding-bottom: rem(30);
    gap:rem(18);
}

.btn{
    @include flexRowCenter;
    width: rem(218);
    height:rem(50);
    background:linear-gradient($secondary,$primary);
    border-radius: rem(25);
    box-shadow: 0 rem(4) rem(18) 0 rgba(0,0,0,0.25);
    color:white; 
    transition: all 0.5s;
    &:hover{
    cursor: pointer;
    opacity: 0.8; 
    box-shadow: 0 rem(6) rem(20) 0 rgba(0,0,0,0.45)
    }
}

// FONCTIONNEMENT
.fonctionnement{
    background-color: white;
    @include flexColumn;
    padding-bottom: rem(30);
    &__titre{
    font-size: rem(24);
    font-weight: 700;
    padding:rem(48) rem(80) rem(26) rem(20); 
    }
    &__bloc{
        @include flexColumnCenter;
        gap:rem(25);
    }
    &__carte{
        display:flex;
        width: rem(322);
        height:rem(72);
        background:$background;
        border-radius: rem(20);
        box-shadow: 0 rem(4) rem(18) 0 rgba(0,0,0,0.15);
        align-items: center; 
        &--text{
            display: inline-flex;
            flex-direction: row;
            align-items: baseline;
            gap:rem(25);
            margin-left: rem(-15);
        }
    }
}

// RESTAURANT
.restaurant{
    background: $background;
    padding-bottom: rem(50);
    &__bloc{
        @include flexColumnCenter;
    }
    &__titre{
        font-size: rem(24);
        font-weight: 700;
        padding:rem(48) rem(80) rem(26) rem(20);    
        }
    &__carte{
            width:rem(346);
            @include flexColumn;
            background-color: white;
            border-radius:rem(15);
            box-shadow:0 rem(4) rem(15) 0 rgba(0,0,0,0.10);
            margin-bottom: rem(18); 
            position:relative;
            &--img{
                width: rem(346);
                height:rem(178);
                object-fit: cover;
                border-radius: rem(15) rem(15) 0 0;
                }
            &--text{
                @include flexColumn;
                padding:rem(18) 0 rem(18) rem(18);
                gap:rem(5);
                }
            }
        }

        .fa-heart1{
            right:rem(25);
            top:rem(205);
        }

      
    .fa-heart2{
        right:rem(25);
        top:rem(205);
      }   
    
     