// VARIABLES
$background:#f6f6f6;
$background-location:#EAEAEA;
$background-footer:#353535;
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;

// FUNCTION
@function rem($size, $base: 16){
    @return 1rem * $size / $base;
}

// MIXINS
@mixin flexRowCenter{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnCenter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexRow{
    display: flex;
    flex-direction: row;
}


// GENERAL
*{
margin:0;
padding:0;
font-family: 'Roboto', sans-serif;
}

main{
    // width: 100%;
    // max-width: 1440px;
    box-sizing: border-box;
    padding-left: auto;
    padding-right: auto;
  }

h1{
    font-family: shrikhand;
    font-weight: 400;
    font-size: rem(28);
}

p{
    font-size: rem(15);
}

// HEADER

header{
    padding: rem(14) rem(89) rem(13) rem(17);
    display: flex;
    gap:rem(42);
    align-items: center;
    
}

.logo{
    margin:0 rem(19) 0 rem(16);
    width: rem(162);
    height:rem(44);
}

.fa-arrow-left{
    width: rem(30);
    height: rem(30);
    display: flex;
    align-items: center;
}

.img{
    width: rem(375);
    height: rem(275);
}

.background{
    
    background-color: $background;
    margin-top: rem(-60);
    position: relative;
    border-top-right-radius: rem(30);
    border-top-left-radius: rem(30);
   
   
}

.mainContainer{
    @include flexColumn;
    gap:rem(40);
    padding-left: rem(15);
    padding-right: rem(15);
}

.nom__resto{
    @include flexRow;
    padding:rem(32) rem(17) rem(40) rem(17);
    padding-right: rem(24);
    align-items: baseline;
    gap:rem(30);
    
}

.trait{
    text-decoration: underline $tertiary;
    text-transform: uppercase;
    text-decoration-thickness: rem(3);
   }

.menu__bloc{
    @include flexColumn;
    gap:rem(12);
}

.carte{
    @include flexColumn;
    gap:rem(5);
    padding:rem(15);
    background-color: white;
    border-radius: rem(15);
    box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.10);
}

.carte__sub{
    @include flexRow;
    justify-content: space-between;

}

.order{
    @include flexColumnCenter;
}

.btn{
    @include flexRowCenter;
    width: rem(218);
    height:rem(50);
    background:linear-gradient($secondary,$primary);
    border-radius: rem(25);
    box-shadow: 0 rem(4) rem(18) 0 rgba(0,0,0,0.25);
    color:white;  
    margin-bottom: rem(40);
   
    }
    // FOOTER
    footer{
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: rem(16);
        background: $background-footer;
        padding:rem(22) rem(25) rem(22) rem(25);
        color:white;
    }
    
    .footer__logo{
        font-family: 'shrikhand', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
    
    .footer__text{
        @include flexRow;
        gap:rem(11);
    }
    
    .fa-handshake-angle {
        width: rem(11);
        height:rem(13);
    }
    
    .fa-utensils{
        width: rem(11);
        height:rem(13);
    }
    
    .footer__bloc{
        @include flexColumn;
        gap:rem(7);
    }
    
    





